/* generic */
/*context menu needs bootstrap which doesnt work well with angular material*/
.dropdown-menu .divider
{
    height: 1px;
    margin: 9px 0;
    background-color: #e5e5e5;
}
.dropdown-menu
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a
{
	background-color:rgba(0, 0, 0, 0);
	color:rgb(51, 51, 51);
	cursor:pointer;
	display:block;
	font-size:14px;
	font-weight:400;
	height:26px;
	line-height:20px;
	padding-bottom:3px;
	padding-left:20px;
	padding-right:8px;
	padding-top:3px;    
	padding: 3px 20px;
	white-space:nowrap;
	width:158px;
	text-decoration-line:none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
	color: #262626;
	text-decoration: none;
	background-color: #d2d2d2;
}

body, html {
    background-color: transparent !important;
}
*{
	box-sizing: border-box;
	outline: none;
}
md-input-container label, .material-icons, .cust-tooltip, .readerToggleIcon, .reader-ui
{
    user-select: none;
}  
.w100h100
{
	width:100% !important;
	height:100% !important;
}
.w33h100
{
	width:33.33% !important;
	height:100% !important;
}
md-list-item p 
{
	word-wrap: break-word;
	width: 0px;
}
.no-marg-pad
{
	margin:0px;
	padding:0px;
}
.maincont
{
	height:calc(100% - 91px);
	width:100%;
	overflow:auto;
	position: relative;
}
.topcont
{
	height: 55px;
	width: calc(100% - 36px);
	margin: 18px;
	position:relative;
}
.cust-tooltip
{
	height: auto;
	font-size:15px;
	color: rgb(255, 255, 255) !important;
	opacity: 1 !important;
}
.readerToggle
{
	padding: 4px;
	cursor:pointer;
	position:absolute;
	z-index:201;
	left: 0px;
	top: 0px;
	text-align:center;
	user-select: none;
}
.readerToggle > div
{
	width: calc(100% - 4px);
}
.readerToggleMargin
{
	margin-left:32px;
}
.textInputIconSpace
{
	width: calc(100% - 40px);
	height:100%;
}
.textInputIcon
{
	position: absolute;
	right: 0px;
	margin: 0px !important;
}

.mdDialogSize
{
	width:75%;
	min-width:500px;
	min-height:200px;
}


/* downloader */
@media only screen and (max-width: 1050px) 
{
	.dlMainSmallColumn1{
		width: 50%;
		height: 66.66%;
		float: left;
		min-height: 300px;
	}
	.dlMainSmallColumn2{
		width:100%;
		min-height: 33.33%;
		clear: both;
		padding-top: 10px;
		border-top: 1px solid #dddddd;
	}		
} 
@media only screen and (min-width: 1051px) 
{
	.dlMainBigColumn{
		width: 33.33%;
		height: 100%;
		float: left;
	}	
} 
.openExternalIcon
{
	font-size: 20px;
	position: absolute;
	top: -4px;
	color: currentColor !important;
}
.versionSelection
{
	width: 100%;
	padding: 0px;
	text-align: center;
}
.chapterSelectionBorder
{
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.chapterSelectionIndentation
{
	margin-left:40px;
	width:calc(100% - 40px);
}
.colorThemeSelection
{
	width:100%;
	height:50px;
}
.absoluteCenter
{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.absoluteCenterHorizontal
{
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
}
.absoluteFullViewport
{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

/* metadata */
.hoverText
{
	cursor: pointer;
	border-bottom: 1px dashed;
}


/* reader */
@media only screen and (max-width: 1366px) 
{
	.configKeyWidth{
		width: 100%;
	}	
} 
@media only screen and (min-width: 1366px) 
{
	.configKeyWidth{
		width: 49%;
	}	
}

video#videoDisplay_html5_api
{
	left: auto !important;
	top: auto !important;
	height: auto !important;
	width: auto !important;
	vertical-align: middle;
	position: relative;
}
.videoDisplay-dimensions.vjs-fluid
{
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 100% !important;
}
.video-js .vjs-control-bar {
	display: flex !important; 
}
.video-js .vjs-control-bar:hover {
	opacity: 1 !important; 
}
.video-js.vjs-has-started .vjs-tech {
	pointer-events: none;
}
.vjs-big-play-button {
    display: none !important;
}
.vjs-control-bar
{
    z-index: 9;
}

.readerSideMenu
{
    position: absolute !important;
    overflow: visible;
	width:300px;
    top: 0px;
    bottom: 0px;
}
#viewerContainer
{
	overflow: auto;
	user-select: none;
	display: flex;
	will-change: transform;
}
.readerTextInputIcon
{
	height: 29px !important;
	min-height: 29px !important;
	padding: 0px !important;
}
.reader-ui
{
	position:absolute;
	top:0;
	height: 34px;
	display: flex;
	z-index:3;
	align-items: center;	
}
.reader-ui-icons
{
	cursor: pointer;
	outline: none;
	height: 100%;
    display: flex;
    align-items: center;
}
.dragscroll
{
	cursor: -webkit-grab;
}
.mediaDisplay
{
	user-select: none;
	display: block;
	margin: auto;
}
.readerUiFileNumbers
{
	min-width: 34px;
	display: inline-block;
	text-align: center;
}
.mediaPrefetch
{
	position:absolute;
	display:none;
}
.keyConfigFlexContainer
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
}
.floatRow50
{
	width:50%;
	float:left;
}