<!DOCTYPE html>
<html>
<head>
	<title>emdl</title>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https: *;">
	
    <link rel='stylesheet' href='font/google/roboto.css'>
	<link rel="stylesheet" href="font/google/material-icons.css">
	<link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="./node_modules/video.js/dist/video-js.min.css">
	<link rel="stylesheet" href="css/app.css">

	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="./node_modules/angular-material/angular-material.min.js"></script>
	        
	<script src="./node_modules/ngstorage/ngStorage.min.js"></script>
	<script src="./node_modules/angular-bootstrap-contextmenu/contextMenu.js"></script>
	<script src="./node_modules/angular-drag-scroll/dist/ng-drag-scroll.min.js"></script>
	        
            
	<script src="./node_modules/video.js/dist/video.min.js"></script>
	<script src="./lib/skrolltop/dist/skrollTop.js"></script>
	
	        
	<script src="js/app.module.js"></script>	
	        
	<script src="js/hlpshared.js"></script>
	<script src="js/mmshared.js"></script>
	<script src="js/testfac.js"></script>
	
	<script src="js/directives/downloader.js"></script>	
	<script src="js/directives/reader.js"></script>	
	<script src="js/directives/mediaViewer.js"></script>
	<script src="js/directives/updatecheck.js"></script>
	<script src="js/directives/metadata.js"></script>
</head>

<body class="w100h100" ng-app="app" ng-controller="appCtrl" md-no-ink md-theme="{{theme}}">
  
	<downloader-ui></downloader-ui>

	<reader-ui></reader-ui>
	
	<update-check-dialog></update-check-dialog>
	
	<meta-data-dialog reqname="metaDataReqName" reqevent="metaDataReqEvent"></meta-data-dialog>
				
</body>
</html>