<md-content class="w100h100" style="min-width:500px;" ng-show="!$root.$storage.reader.config.show">

	<!-- needs to be here for proper scrolling (small screen size) -->
	<div class="md-secondary md-icon-button readerToggle" ng-click="$root.$storage.reader.config.show = !$root.$storage.reader.config.show;">
		<i class="material-icons">&#xE0E0;</i>
		<div style="margin: auto;">R<br>D</div>
	</div>

	<div class="dlMainSmallColumn1 dlMainBigColumn">
		<div class="topcont readerToggleMargin">
			
			<div class="textInputIconSpace">
				<md-input-container context-menu="hlpShared.textInputMenu" class="no-marg-pad" style="width:calc(66.66% - 4px); height: 100%;">
					<input class="w100h100" ng-model="$root.$storage.config.search" placeholder="search"
						   ng-keyup="$event.keyCode == 13 && getLiveSearchChapters()">
				</md-input-container>
				<md-input-container  class="w33h100 no-marg-pad" aria-haspopup="true">
					<md-select class="w100h100" ng-model="currentmmodel" aria-label="mmodel-selection">
						<md-option ng-repeat="mmodel in mmodels track by $index" ng-value="mmodel">
							{{mmodel.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="top: -10px;" ng-click="showMmDialog($event);">
				<i class="material-icons">&#xE8B8;</i>
			</div>
				
			<div class=" md-icon-button md-button textInputIcon" style="bottom: -5px;"  ng-click="getMangas(true);">
				<i class="material-icons">&#xE86A;</i>
			</div>
		</div>
		
		<div id="mlist" class="maincont" lr-infinite-scroll="incshowlist" scroll-threshold="200">
	
			<div class="w100h100" ng-show="!currentmmodel.options.livesearch">
				<md-progress-linear md-mode="isdeterminate" ng-show="currentmlist.progress<100" style="position: absolute;"></md-progress-linear>
				
				<div class="absoluteCenter" style="text-align: center;"	ng-show="currentmlist.progress<100">Fetching media data may take a while, please be patient.</div>

				<md-virtual-repeat-container class="w100h100" md-top-index="mlistContainerIndex">
					<md-list-item md-virtual-repeat="m in currentmlist.cont | filter:$root.$storage.config.search" style="width:100%;" ng-click="getChapters(m);"
									ng-mouseover="m.showMenuButton = true;" ng-mouseleave="m.showMenuButton = false;">
						<p>{{ m.name }}</p>
						<div class="md-secondary md-icon-button no-marg-pad" ng-click="hlpShared.showMetaInfo(m.name,$event);" aria-label="get-metadata-button"
						     ng-style="{'opacity' : m.showMenuButton&&(!currentmmodel.options.type||currentmmodel.options.type=='manga') ? 1 : 0}">
							<i class="material-icons">&#xE88E;</i>
						</div>	
					</md-list-item>
				</md-virtual-repeat-container>
			</div>
			
			<md-button class="md-raised" style="width: calc(100% - 16px); height: calc(100% - 16px);"
						ng-show="currentmmodel.options.livesearch" ng-click="getLiveSearchChapters();">
				<span style="white-space: pre-wrap;">click to perform a live search <br> with your current search term</span>
			</md-button>
		</div>
	</div>
	
	<div class="dlMainSmallColumn1 dlMainBigColumn">
		
		<md-input-container class="topcont">
			<md-button class="w100h100 no-marg-pad md-raised md-primary" ng-disabled="!currentm||getSelectedChapters(currentm).length==0" ng-click="createDL();">
				Download
			</md-button>
		</md-input-container>
		
		<div class="maincont">
				
			<md-subheader style="color: currentColor; cursor: pointer;" ng-show="currentm.name" ng-click="hlpShared.openExternal(currentm.link);">
				<md-icon class="openExternalIcon" ng-show="!currentm.error">launch</md-icon>
				<md-icon class="openExternalIcon" ng-show="currentm.error">report_problem
					<md-tooltip md-direction="top" class="cust-tooltip">
						Sometimes refreshing the manga list can solve the problem.<br>
						If not the plugin may be broken or the website has no chapters available.
					</md-tooltip>
				</md-icon>
				<span style="margin-left: 25px; text-decoration: underline;">{{currentm.name}}</span>
			</md-subheader>	
			
			<md-input-container ng-if="currentm.versions.length > 1" class="versionSelection" aria-haspopup="true">
				<md-select ng-model="currentm.curversion" aria-label="version-selection">
					<md-option ng-repeat="version in currentm.versions track by $index" ng-value="version">
						{{version}}
					</md-option>
				</md-select>
			</md-input-container>	

			<div ng-repeat="chapter in currentm.chapters track by $index" style="position: relative;" ng-if="!currentm.curversion?true:chapter.version==currentm.curversion">
				<md-list-item ng-if="chapter.newvol" ng-click="toggleChaExpand(currentm,chapter);"
								style="width:100%;" class="chapterSelectionBorder"
								ng-style="($index==0 || currentm.chapters[$index-1].expand || currentm.chapters[$index-1].version!=chapter.version) && {'border-top':'1px solid #dddddd'}">
				
					<md-icon style="margin: 0px 8px 0px 0px;">{{chapter.expand?"&#xE15B;":"&#xE145;"}}</md-icon>
					<p ng-if="currentmmodel.options.type!='anime'">Vol.{{chapter.volnumb}}</p>
					<p ng-if="currentmmodel.options.type=='anime'">S.{{chapter.volnumb}}</p>
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="toggleChaSelection(currentm,chapter,false,0);" aria-label="volume-selection-toggle">
						<i class="material-icons">&#xE8D5;</i>
					</div>
					<md-checkbox class="md-secondary" ng-model="chapter.volsel" ng-click="toggleChaSelection(currentm,chapter,true,0);" aria-label="volume-select-checkbox"></md-checkbox>
				</md-list-item>
				<md-divider class="chapterSelectionIndentation" ng-if="chapter.chadiv && !chapter.newvol" ng-show="chapter.expand"></md-divider>
				
				<md-list-item class="chapterSelectionBorder chapterSelectionIndentation"
								ng-style="($index==currentm.chapters.length-1 || chapter.version != currentm.chapters[$index+1].version) && {'border-bottom':'1px solid #dddddd'}"
								ng-if="chapter.expand" ng-click="toggleChaSelection(currentm,chapter,false,$index,1);">
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="toggleChaSelection(currentm,chapter,false,$index,5);" ng-if="chapter.chadiv" aria-label="chapter-selection-toggle">
						<i class="material-icons">&#xE8D5;</i>
					</div>
					<p ng-if="currentmmodel.options.type!='anime'">Cha.{{chapter.chanumb}}</p>
					<p ng-if="currentmmodel.options.type=='anime'">Ep.{{chapter.chanumb}}</p>
					<md-checkbox class="md-secondary" ng-model="chapter.selected" ng-click="chapter.selected=!chapter.selected; toggleChaSelection(currentm,chapter,false,$index,1);" aria-label="chapter-select-checkbox"></md-checkbox>
				</md-list-item>
			</div>
		</div>
	</div>

	<div class="dlMainSmallColumn2 dlMainBigColumn">	
		<div class="topcont">
			<md-input-container context-menu="hlpShared.openInExplorerMenu" model="$root.$storage.config.dldir" class="no-marg-pad no-marg-pad textInputIconSpace">
				<input class="w100h100" ng-model="$root.$storage.config.dldir" placeholder="base download directory">
			</md-input-container>
			
			
			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="top: -10px;" ng-click="hlpShared.showDialog($event,'#dlConfig');">
				<i class="material-icons">&#xE8B8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon" class="no-marg-pad" style="bottom: -19px;" ng-click="dlDirOpenDialog();">
				<i class="material-icons">&#xE5D3;</i>
			</div>
		</div>
		
		<div class="maincont">
			<div ng-repeat="dl in downloads track by $index">
				<md-subheader class="md-no-sticky md-primary" ng-if="$index==0||downloads[$index].state!=downloads[$index-1].state">{{dl.state}}</md-subheader>
				
				<md-list-item ng-click="toggleDlState(dl);">
							
					<div class="md-icon-button md-button" ng-show="(dl.skipped)&&(dl.state=='completed')" ng-click="hlpShared.openWebConsole();">
						<md-tooltip md-direction="top" class="cust-tooltip">Some pages or chapters were skipped you can retry to get missing files.<br/>Check the web console for more information.<br/>Click to open DevTools and then select the tab 'Console'.</md-tooltip>
						<i class="material-icons">report_problem</i>
					</div>								
					<div class="md-icon-button md-button" ng-show="(!dl.skipped)&&(dl.state=='completed')">
						<md-tooltip md-direction="top" class="cust-tooltip">Downloaded all files successfully.</md-tooltip>
						<i class="material-icons">done</i>
					</div>		
								
					<p>{{dl.manga.name}}</p>
					<span style="width: 60px; text-align: right;">
						{{dl.progress}}{{dl.progress != "packing"?"%":""}}
					</span>

					<div class="md-secondary md-icon-button no-marg-pad" ng-click="toggleDlState(dl);" ng-show="(dl.state!='completed' || dl.skipped)" aria-label="download-pause-toggle">
						<i class="material-icons">{{dl.state=='paused'?'&#xE037;':(dl.state=='completed'?'&#xE042;':'&#xE034;')}}</i>
					</div>
					<div class="md-secondary md-icon-button no-marg-pad" ng-click="removeDL($index);" aria-label="download-remove-button">
						<i class="material-icons">&#xE5CD;</i>
					</div>	
					
				</md-list-item>
			</div>
		</div>
	</div>
</md-content>

<div style="visibility: hidden;">
	<div class="md-dialog-container" id="dlConfig">
		<md-dialog layout-padding class="mdDialogSize">
			<h3>File path specification</h3>

			
			<md-input-container class="topcont" style="margin-bottom: 0px;" context-menu="hlpShared.textInputMenu">
				<input class="w100h100" ng-model="$root.$storage.config.dlreppath" placeholder="download path pattern">
			</md-input-container>
			
			
			<h3>Output format</h3>
			<md-radio-group ng-model="$root.$storage.config.format" class="topcont" style="height:auto; margin: 0px auto;">
				<md-radio-button value="raw">raw</md-radio-button>
				<md-radio-button value="cbz">cbz</md-radio-button>
				<md-radio-button value="pdf">pdf</md-radio-button>
			</md-radio-group>
		</md-dialog>
	</div>

	
	<div class="md-dialog-container" id="mmConfig">
		<md-dialog layout-padding class="mdDialogSize" style="position: absolute; top: 10%;">
			<md-tabs md-dynamic-height md-border-bottom style="padding: 0px 8px;">	
				<md-tab label="Global settings">
					<h3 style="margin-top: 40px;">Generic settings</h3>
					<md-switch class="md-primary" ng-model="$root.$storage.config.fetchRemoteScript">
						Automatic update plugins (requires restart)
					</md-switch>
					<md-switch class="md-primary" ng-model="$root.$storage.config.enableBackgroundThrottling" ng-change="hlpShared.setBackgroundThrottling();">
						Enable background throttling
					</md-switch>
					
					<h3 style="margin-top: 40px;">Color theme (requires restart)</h3>
					<div style="width:50%; float: left; padding-right: 20px;">	
						<md-input-container class="colorThemeSelection" aria-haspopup="true">
							<label>Background palette</label>
							<md-select class="w100h100" ng-model="$root.$storage.config.colorTheme.backgroundPalette" ng-change="updateColorTheme();" aria-label="color select">
								<md-option ng-repeat="color in colorPalettes track by $index" ng-value="color">
									{{color}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="colorThemeSelection" aria-haspopup="true">
							<label>Primary palette</label>
							<md-select class="w100h100" ng-model="$root.$storage.config.colorTheme.primaryPalette" ng-change="updateColorTheme();" aria-label="color select">
								<md-option ng-repeat="color in colorPalettes track by $index" ng-value="color">
									{{color}}
								</md-option>
							</md-select>
						</md-input-container>
	
						<md-switch class="md-primary" ng-model="$root.$storage.config.colorTheme.darkTheme" ng-change="updateColorTheme();">Dark theme</md-switch>		
					</div>
					<div style="width:50%; float: left; padding-left: 20px;">
						<md-input-container class="colorThemeSelection" aria-haspopup="true">
							<label>Accent palette</label>
							<md-select class="w100h100" ng-model="$root.$storage.config.colorTheme.accentPalette" ng-change="updateColorTheme();" aria-label="color select">
								<md-option ng-repeat="color in colorPalettes track by $index" ng-value="color">
									{{color}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="colorThemeSelection" aria-haspopup="true">
							<label>Warn palette</label>
							<md-select class="w100h100" ng-model="$root.$storage.config.colorTheme.warnPalette" ng-change="updateColorTheme();" aria-label="color select">
								<md-option ng-repeat="color in colorPalettes track by $index" ng-value="color">
									{{color}}
								</md-option>
							</md-select>
						</md-input-container>
					</div>
				</md-tab>
				<md-tab label="Selected plugin settings">
					<md-input-container style="margin-top: 40px; width:100%;" context-menu="hlpShared.textInputMenu">
						<textarea placeholder="{{currentmmodel.name}} settings" style="max-height: 250px;"
									ng-keyup="hlpShared.valMdInput($event.target.parentElement.parentElement,setMmodelOptions($event.target));"
									ng-value="currentmmodel.options | json:4 "></textarea>
					</md-input-container>
				</md-tab>
			</md-tabs>
		</md-dialog>
	</div>
</div>

