<!--reader ui-->
<div style="position: absolute; width: 100%;" ng-show="(!config.hideSideMenu||config.showOverlay||openm.loading)">	
	<md-content class="reader-ui absoluteCenterHorizontal" ng-show="(openm.files.length>0 || openm.loading)">
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown(-25,'fileindex');" 
													ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE5DC;</i>
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown(-1,'fileindex');"
													ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE5CB;</i>
		<div style="padding: 0px 8px;">
			<span class="readerUiFileNumbers" id="fileIndex" ng-bind="openm.fileindex+1"></span> / 
			<span class="readerUiFileNumbers" id="filesLength"></span>
		</div>
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown(1,'fileindex');"
													ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE5CC;</i>
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown(25,'fileindex');"
													ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE5DD;</i>	
	</md-content>

	<md-content style="right: 0px;" class="reader-ui">	 
		<div style="padding: 0px 8px;">x{{config.zoomFac.toFixed(1)}}</div>
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown(-0.1,'zoom');" ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE900;</i>
		<i class="material-icons reader-ui-icons" ng-mousedown="uiMouseDown( 0.1,'zoom');" ng-mouseup="uiMouseUp();" ng-mouseleave="uiMouseUp();">&#xE8FF;</i>
		<i class="material-icons reader-ui-icons" id="fullscreenButton" onclick="currentWindow.setFullScreen(!currentWindow.isFullScreen());">
			{{isFullScreen?'&#xE5D1;':'&#xE5D0;'}}
		</i>	
	</md-content>
</div>

<!--display area-->
<div id="viewerContainer" class="w100h100" ng-style="config.styleContainer" ng-class="{dragscroll: config.dragscroll}" drag-scroll="config.dragscroll">	
	<div class="absoluteCenter" style="mix-blend-mode:difference; color:white; text-align: center;"
		 ng-if="openm&&!openm.loading&&openm.dir.path&&openm.files.length==0">Empty or not existing directory</div>
	
	<div class="w100h100" style="display: flex;" ng-show="!config.enableEndlessScroll">
		<img id="imageDisplay" class="mediaDisplay" ng-style="config.styleImage">

		<div id="videoContainer" class="w100h100" style="max-height: 100%; min-height: 100%; display: none;" draggable="true" ng-mousemove="videoPlayer.reportUserActivity();">	
			<video id="videoDisplay" class="video-js" class="mediaDisplay" style="padding: 0px; height: 100%;" ng-style="config.styleImage" preload="auto"></video>
		</div>
	</div>
	<div id="scrollContainer" ng-init="setScrollContainer();" class="w100h100" ng-if="config.enableEndlessScroll">
		<img ng-repeat="i in openm.files track by $index" ng-src="{{i.src}}" ng-if="abs(openm.fileindex-$index)<10" class="mediaDisplay"
			 ng-style="config.styleImage" fileIndex="{{$index}}" ng-init="setZoom(config.zoomFac);" onload="setEndlessIndex();">
	</div>
</div>
