<div style="visibility: hidden;">
	<div class="md-dialog-container" id="metaInfo">
		<md-dialog layout-padding class="mdDialogSize">
			<div ng-show="metaData.name && !metaData.error" ng-if="metaData">
				<div style="width:calc(100% - 250px); float:left;  padding-right: 8px;">
				
					<h3>
						<a href="" style="color: currentColor; display: inline-block;" ng-click="hlpShared.openExternal(metaData.link);">
							<md-icon style="font-size: 20px; position: absolute; margin-top: 2px; color: currentColor;">launch</md-icon>
							<span style="margin-left:25px;">{{metaData.name}}</span>
						</a>
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="asocname in metaData.asocnames track by $index">{{asocname}}<br></span></md-tooltip>
							(<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText" style="border-bottom-width: 2px;">alt. names</span>)
						</span>
						</h3>
					<p>{{metaData.type}}, {{metaData.year}} by 
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="author in metaData.authors track by $index">{{author}}<br></span></md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">authors</span>,
						</span>
						 
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="artist in metaData.artists track by $index">{{artist}}<br></span></md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText"">artists</span>
						</span>
					</p>
					<p>{{metaData.description}}</p>
					
					<md-divider></md-divider>
					
					<p>
						<span ng-repeat="genre in metaData.genre track by $index">
							{{genre}}<span ng-if="$index != metaData.genre.length-1">, </span>
						</span>
					</p>
					<p>
						<span ng-repeat="category in metaData.categories track by $index">
							{{category}}<span ng-if="$index != metaData.categories.length-1">, </span>
						</span>
					</p>
					
					<md-divider></md-divider>
					
					<p>
						<span>
							<md-tooltip class="cust-tooltip">
								<span ng-repeat="latesttran in metaData.latesttrans track by $index">{{latesttran}}<br></span>
								<span ng-if="metaData.latesttrans.length==0">N/A<br></span>
							</md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Latest translations</span>
						</span>
						 | 
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="latestrel in metaData.latestrels track by $index">{{latestrel}}<br></span></md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Latest Release</span>
						</span>
						 | 
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="relatedserie in metaData.relatedseries track by $index">{{relatedserie}}<br></span></md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Related series</span>
						</span>
						 | 
						<span>
							<md-tooltip class="cust-tooltip"> <span ng-repeat="an in metaData.anstartend track by $index">{{an}}<br></span></md-tooltip>
							<span md-colors="{color: 'primary', borderColor: 'primary'}" class="hoverText">Anime start/end</span>
						</span>
					</p>
				</div>
				<div style="width:250px; float:left;" ng-show="metaData.img">
					<img style="float:right; max-width:100%;" ng-src="{{metaData.img}}">
				</div>
			</div>
			<div ng-if="metaData && !metaData.name && !metaData.error" class="absoluteCenter">
				 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<div ng-if="metaData.error">
				 <h3 style="text-align:center">Failed to receive metadata</h3>
			</div>
		</md-dialog>
	</div>
</div>
