<md-content class="w100h100" style="min-width:500px;" ng-show="$root.$storage.reader.config.show">

	<!--sidemenu-->
	<md-content class="readerSideMenu" ng-style="{width:config.hideSideMenu?'0px':'300px'}">

		<md-content class="reader-ui" style="width:24px; left: 100%;" aria-label="toggle-sidemenu-button"
		            ng-show="!config.hideSideMenu||config.showOverlay||openm.loading" ng-click="config.hideSideMenu = !config.hideSideMenu;">
			<i class="material-icons reader-ui-icons">{{config.hideSideMenu?'&#xE5CC;':'&#xE5CB;'}}</i>
		</md-content>	
		
		<div class="topcont readerToggleMargin" ng-show="!config.hideSideMenu">
			<div class="md-secondary md-icon-button readerToggle" style="left: -32px; top: -18px;" 
				 ng-click="$root.$storage.reader.config.show = !$root.$storage.reader.config.show;">
				<i class="material-icons">&#xE2C4;</i>
				<div style="margin: auto;">D<br>L</div>
			</div>

			<md-input-container context-menu="hlpShared.openInExplorerMenu" model="config.basedir"
								id="readerBaseDir" class="no-marg-pad no-marg-pad textInputIconSpace">
				<input class="w100h100" ng-model="config.basedir" placeholder="base reader directory">
			</md-input-container>
			
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="top: -13px;" ng-click="openOptionsDialog($event);">
					<i class="material-icons">&#xE8B8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="top: 16px;" ng-click="baseDirGoUp();">
				<i class="material-icons">&#xE5D8;</i>
			</div>
			<div class="md-icon-button md-button textInputIcon readerTextInputIcon" style="bottom: -15px;" ng-click="baseDirOpenDialog();">
				<i class="material-icons">&#xE5D3;</i>
			</div>
		</div>

		<div class="maincont">
			<md-list-item context-menu="menuFolders" ng-repeat="dir in rootdirs track by $index" ng-click="openNewFolder(dir);"
						  ng-mouseover="dir.showMenuButton = true;" ng-mouseleave="dir.showMenuButton = false;">
				<p>{{ dir.name }}</p>
				<div class="md-secondary md-icon-button no-marg-pad" ng-click="" aria-label="get-metadata-button" context-menu="menuFolders" context-menu-on="click" model="dir"
					 ng-style="{'opacity' : dir.showMenuButton ? 1 : 0}">
					<i class="material-icons">more_vert</i>
				</div>
			</md-list-item>
		</div>
	</md-content>
	
	<div class="absoluteFullViewport" ng-style="{left:config.hideSideMenu?'0px':'300px'}">
		<media-viewer></media-viewer>
	</div>
</md-content>
	
	
<div style="visibility: hidden;">
	<div class="md-dialog-container" id="rdConfig">
		<md-dialog layout-padding class="mdDialogSize" style="position: absolute; top: 10%;">

			<md-tabs md-dynamic-height md-border-bottom style="padding: 0px 8px;">
				<md-tab label="Miscellaneous">
					<h3>CSS style</h3>
					<md-input-container style="width:calc(50% - 6px);" context-menu="hlpShared.textInputMenu">
						<textarea placeholder="Container style" style="max-height: 250px;"
									ng-keyup="hlpShared.valMdInput($event.target.parentElement.parentElement,changeStyle($event.target,'styleContainer'));"
									ng-value="config.styleContainer | json:4 "></textarea>
					</md-input-container>
					<md-input-container style="width:calc(50% - 6px);" context-menu="hlpShared.textInputMenu">
						<textarea placeholder="Image style" style="max-height: 250px;"
									ng-keyup="hlpShared.valMdInput($event.target.parentElement.parentElement,changeStyle($event.target,'styleImage'));"
									ng-value="config.styleImage | json:4 "></textarea>
					</md-input-container>

					<h3>Miscellaneous</h3>
					<div class="floatRow50">
						<md-switch class="md-primary" ng-model="config.dragscroll">
							drag scroll
						</md-switch>
						<md-switch class="md-primary" ng-model="config.enableEndlessScroll" ng-model-options="{ updateOn: 'blur' }">
							endless scroll
						</md-switch>
						<md-switch class="md-primary" ng-model="config.enableSmoothScroll">
							smooth scroll
						</md-switch>
					</div>
					<div class="floatRow50">
						<md-switch class="md-primary" ng-model="config.videoAutoPlay">
							video autoplay
						</md-switch>
						<md-switch class="md-primary" ng-model="config.videoLoop">
							video looping
						</md-switch>
					</div>
				</md-tab>
				<md-tab label="Keyboard configuration">
					<div style="display:inline-block; margin-top: 20px;">
						<div class="keyConfigFlexContainer">
							<div ng-repeat='key in config.keyConfig' class="configKeyWidth" layout="row">
								<md-input-container style="flex-grow: 0.6;">
									<input ng-model="key.type" placeholder="trigger" ng-keydown="setKeyString($event, key);">
								</md-input-container>
								<md-input-container aria-haspopup="true" style="flex-grow: 0.3; flex-basis: 180px;">
									<md-select ng-model="key.fct" aria-label="mmodel-selection">
										<md-option ng-repeat="keyBindFctsName in keyBindFctsNames" ng-value="keyBindFctsName">
											{{keyBindFctsName}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container style="flex-grow: 0.1; flex-basis: 50px;">
									<input ng-model="key.x" placeholder="X">
								</md-input-container>
								<md-button class="md-raised" style="margin-bottom: 40px;" ng-click="config.keyConfig.splice($index, 1);">remove</md-button>
							</div>
						</div>
						<div style="text-align: center;">
							<md-button class="md-raised" style="margin:auto; height: 48px;" ng-click="config.keyConfig.push({});">add key</md-button>
						</div>
					</div>
				</md-tab>
				<md-tab label="Mouse configuration">
					<div style="display:inline-block; margin-top: 20px;">
						<div class="keyConfigFlexContainer">
							<div ng-repeat='key in config.mouseConfig' class="configKeyWidth" layout="row">
								<md-input-container style="flex-grow: 0.6;">
									<input ng-model="key.type" placeholder="trigger" disabled>
								</md-input-container>
								<md-input-container aria-haspopup="true" style="flex-grow: 0.3; flex-basis: 180px;">
									<md-select ng-model="key.fct" aria-label="mmodel-selection">
										<md-option ng-repeat="keyBindFctsName in keyBindFctsNames" ng-value="keyBindFctsName">
											{{keyBindFctsName}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container style="flex-grow: 0.1; flex-basis: 50px;">
									<input ng-model="key.x" placeholder="X">
								</md-input-container>
							</div>
						</div>	
					</div>
				</md-tab>
				<md-tab label="File history">
					<div class="floatRow50">
						<md-switch class="md-primary" style="width:100%;" ng-model="config.enableFileHistory">
							file history
						</md-switch>
						<md-switch class="md-primary" style="width:100%;" ng-model="showConfigFileHistory">
							show file history
						</md-switch>
					</div>
					<div class="floatRow50" style="display: flex; flex-direction: column; height: 124px;">
						<md-button class="md-raised" style="margin:auto; width: 124px;" ng-click="importFileHistory();">import file</md-button>
						<md-button class="md-raised" style="margin:auto; width: 124px;" ng-click="exportFileHistory();">save as file</md-button>
					</div>

					<div class="floatRow50" ng-repeat="(key, prop) in storage.readerFileHistory track by $index" ng-if="showConfigFileHistory">
						<md-input-container style="width:calc(100% - 100px); margin-bottom: 0px;">
							<input ng-model="key" placeholder="path" style="color: currentColor;" disabled>
						</md-input-container>
						<md-input-container style="width: 56px; margin-bottom: 0px;">
							<input ng-model="storage.readerFileHistory[key]" placeholder="index" ng-change="storage.readerFileHistory[key]=parseInt(storage.readerFileHistory[key]);">
						</md-input-container>
						<div class="md-icon-button md-button" class="no-marg-pad" style="width: 40px; float: right; margin: 10px 0px;" ng-click="deleteFileHistElem(key);">
							<i class="material-icons">&#xE14C;</i>
						</div>
					</div>	
				</md-tab>
			</md-tabs>
		</md-dialog>
	</div>

	
	<div class="md-dialog-container" id="folderRename">
		<md-dialog layout-padding class="mdDialogSize" style="max-width:700px;">

			<md-input-container style="margin-top: 25px; width:100%;">
				<input ng-model="newFolderName" placeholder="new folder name">
			</md-input-container>
			<md-dialog-actions>
				<md-button ng-click="mdDialog.cancel();" class="md-primary">cancel</md-button>
				<md-button ng-click="mdDialog.hide();" class="md-primary">OK</md-button>
			</md-dialog-actions>
			
		</md-dialog>
	</div>

	
	<div class="md-dialog-container" id="folderDelete">
		<md-dialog layout-padding class="mdDialogSize" style="max-width:700px;">

			<h3>Delete folder?</h3>
			<md-input-container style="width:100%;">
				<h4>{{newFolderName}}</h4>
			</md-input-container>
			<md-dialog-actions>
				<md-button ng-click="mdDialog.cancel();" class="md-primary">cancel</md-button>
				<md-button ng-click="mdDialog.hide();" class="md-primary">OK</md-button>
			</md-dialog-actions>
			
		</md-dialog>
	</div>
</md-content>  